/* estilos generales*/

html{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: url(../images/verdurasyfrutasdefinitivo.png);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  color: rgb(255, 255, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
  background-color: rgb(18, 100, 18);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 15px;
}

h2{
  color: rgb(255, 255, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  background-color: rgb(18, 100, 18);
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  background-color: rgba(124, 175, 124);
}

li{
  list-style: none;
}



/* estilo header*/


header nav ul li a{
color: rgb(0, 0, 0);
font-weight: bold;
}

/* estilo de boostrap modificado*/
.nav-mio{
  background-color: green;
  color: aliceblue;
  margin-left: 10px;
  border-radius: 5px;
  justify-self: center;
}

.d-flex-mio{
  display: flex;
  margin-left: 35%;
}
/*fin de estilo header*/

/*estilo pagina inicio*/

.flex-imagen-inicio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
}

@media (max-width: 576px) {
  .grid-section {
  grid-template-columns: 1fr;
}
}

/* estilo de mi boton del index */

.boton{
  border: 2px solid rgb(0, 0, 0);
  font-size: 14px;
  color: rgb(253, 253, 255);
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(47, 182, 65);
  padding: 7px;
  margin-top: 5px;
}

/* fin de estilo de mi boton del index */

/*fin estilo pagina inicio*/

/*estilo del footer*/

.footer{
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  background-color: rgb(18, 100, 18);
  margin-top: 10%;
}

.footer p{
font-size: 30px;
}


.flex-redes-sociales li a{
  text-decoration: none;
  color: aliceblue;
  
}

.flex-redes-sociales{
  display: flex;
  justify-content: space-around;
  padding-bottom: 25px;
}
/*fin estilo footer*/

/* estilo pagina nosotros*/

.grid-nosotros{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row: auto;
  gap: 5px;
  text-align: center;
}

.link-nosotros{
  text-decoration: none;
  color: aliceblue;
  background-color: green;
  border: 1px solid rgb(16, 226, 69);
  border-radius: 1px;
  padding: 2px;
}

.main-parrafo{
  text-align: center;
  font-size: 20px;
}

.imagen-nosotros{
  display: flex;
  background-color: rgb(255, 0, 0);
  margin: auto;
  align-items: center;
  border-radius: 10px;
  border: solid green 3px;
}

/*posicionamiento nosotros*/

@media (max-width: 576px) {
  .grid-nosotros {
    grid-template-columns: 1fr;
  }
}

/*fin estilo pagina nosotros*/

/*estilo pagina productos*/

.card-mio{
  background-color: green;
  color: aliceblue;
  font-weight: bold;
}

.btn-primary-mio{
  background-color: rgb(17, 85, 48);
  justify-content: center;
}

.card-text-mio{
  background-color: transparent;
}

.card-title-mio{
  text-decoration: underline;
}

/*posicionamiento de productos*/

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 25px;
  margin: 10px 0 10px 0;
}

@media (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

/*hover productos*/
.btn-primary-mio:hover{
  background-color: rgb(43, 226, 134);
}
.card-title-mio:hover{
color: black;
}
/*final de hover productos*/


/* fin de posicionamiento de productos*/

/*estilo pagina horarios*/

table{
  border: solid;
  color: rgb(0, 255, 0);
  background-color: rgb(7, 58, 7);
  text-align: center;
}

/*estilo de tabla centrado*/
div table{
  text-align: center;
  margin: 0 auto;
}

/*fin estilo de pagina horarios*/


/*estilo pagina contacto*/
main section p {
  background-color: rgb(255, 255, 255);
  margin: 0 0 15px 0;
}

h4 {
  font-weight: bold;
  text-decoration: underline;
  background-color: rgb(255, 255, 255);
  margin: 8px 0 8px 0;
}

main section a {
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  margin: 8px 0 8px 0;
  color: rgb(21, 99, 23);
  font-weight: bold;
}

.flex-section-contacto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}
/*fin estilo pagina contacto*/


/*estilo formulario contacto*/
.estilo-formulario-contacto{
  background-color: green;
  font-weight: bold;
  margin: 40px 25px 40px 25px;
  border-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.estilo-imagen-horario img{
 
  border-radius: 30px;
  margin-top: 5%;
}