$primary-color: rgb(18, 100, 18);
$secondary-color: rgb(255, 255, 255);
$link-color: aliceblue;
$button-color: rgb(253, 253, 255);
$button-background-color: rgb(47, 182, 65);
$table-border-color: rgb(0, 255, 0);
$table-background-color: rgb(7, 58, 7);
$section-background-color: rgb(255, 255, 255);
$section-margin: 8px 0 8px 0;
$weight: bold;