.d-flex-mio {
    display: flex;
    margin-left: 35%;
  
    .flex-imagen-inicio {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .flex-redes-sociales {
      display: flex;
      justify-content: space-around;
      padding-bottom: 25px;
  
      li a {
        text-decoration: none;
        color: $link-color;
      }
    }
  
    .flex-section-contacto {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;
    }
  
    .flex-nosotros {
      display: flex;
      background-color: $primary-color;
      margin: auto;
      align-items: center;
      border-radius: 10px;
      border: solid green 3px;
    }
  }