html {
    font-family: Arial, Helvetica, sans-serif;
    body {
      background-image: url(../images/verdurasyfrutasdefinitivo.webp);
      background-repeat: no-repeat;
      background-size: cover;
      h1, h2 {
        color: $secondary-color;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background-color: $primary-color;
        text-align: center;
        font-weight: $weight;
      }
    }
  }

  li{
    list-style: none;
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: $weight;
    font-style: italic;
    background-color: rgba(124, 175, 124);
  }

 
  h1 {
    font-size: 45px;
    padding: 10px;
    border-radius: 15px;
  }
  
  h2 {
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
  }