
  .grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
  
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
    .flex-imagen-inicio{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

  .boton{
    border: 2px solid rgb(0, 0, 0);
    font-size: 14px;
    color: $button-color;
    border-radius: 5px;
    font-weight: $weight;
    background-color: $button-background-color;
    padding: 7px;
    margin-top: 5px;
  }