  .nav-mio {
    background-color: $primary-color;
    color: $secondary-color;
    margin-left: 10px;
    border-radius: 5px;
    justify-self: center;
  }

  .d-flex-mio {
    display: flex;
    margin-left: 35%;
  }