.card-mio{
    background-color: green;
    color: $link-color;
    font-weight: $weight;
    .card-title-mio{
        text-decoration: underline;
      }
}
  
  .btn-primary-mio{
    background-color: rgb(13, 134, 68);
    justify-content: center;
    border-color: green;

  }
  
  .card-text-mio{
    background-color: transparent;
  }
  
  
  
  
  
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    row-gap: 25px;
    margin: 10px 0 10px 0;
  }
  
  @media (max-width: 576px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }
  
  
  .card-title-mio:hover {
  color: black;
  }

  .btn-primary-mio:hover {
    background-color: rgb(35, 202, 63);
    color: rgb(0, 0, 0);
    border: rgb(0, 255, 34);
  }
  
  .btn-primary-mio:focus{
    color: rgb(0, 255, 170);
    background-color: rgb(9, 75, 34);
  }
